.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
}
.upperNav:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.scrollNav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: 0px;
  top: 0px;
  z-index: 99;
  position: fixed;
  column-gap: 28px;
  transform: none;
  background: #222222;
  min-width: 0;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img___4W2Oe {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img___4W2Oe > picture > img {
  object-fit: cover;
}
.freeBox___4DCob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y7OzN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text___02Ha {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
}
.link__fpyzy {
  cursor: pointer;
  color: #f15a24;
}
.text__lyQ4X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__feeh3 {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__obQrN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button___0Zhfb:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__j2WYj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cd7Pz {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__dFmnv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uubxy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cXpOz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__u1ZDn {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__dPAe4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aVkmy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5JI9O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__m4F84 {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__fjA2R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__w9TLw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__mZrSk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 38px;
  min-width: 0;
  padding: 8px;
}
.freeBox__a068 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 680px;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 36px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 0px;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 50px;
  }
}
.h5__gycOb {
  margin: 6px 0px;
}
.h5__cgZ46 {
  margin: 6px 0px;
}
.ul__rv7HL {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h5__lJfom {
  margin: 6px 0px;
}
.h6__llOn {
  margin: 6px 0px;
}
.ul__zgSc3 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h6__pBvm {
  margin: 6px 0px;
}
.ul__eUoPl {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px;
}
.h5__ptHSw {
  margin: 6px 0px;
}
.h6__uZvh0 {
  margin: 6px 0px;
}
.ul__vaMgn {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h6__r44Db {
  margin: 6px 0px;
}
.ul__afJGh {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h5__osnWh {
  margin: 6px 0px;
}
.h6__n3Umd {
  margin: 6px 0px;
}
.ul___6Hpb {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6__am102 {
  margin: 6px 0px;
}
.ul___3P2Ml {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6___64ZWo {
  margin: 6px 0px;
}
.ul__s5Dn3 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h5__jv6Kc {
  margin: 6px 0px;
}
.h6__vCi65 {
  margin: 6px 0px;
}
.h6__buCtX {
  margin: 6px 0px;
}
.h6__o04RV {
  margin: 6px 0px;
}
.h5___29KJ8 {
  margin: 6px 0px;
}
.h5__tyqir {
  margin: 6px 0px;
}
.h6__ktNjh {
  margin: 6px 0px;
}
.h6__x1Bjm {
  margin: 6px 0px;
}
.h5__y3HdW {
  margin: 6px 0px;
}
.h6___1GpVq {
  margin: 6px 0px;
}
.h6__qk8Ha {
  margin: 6px 0px;
}
.h5__c3Rlu {
  margin: 6px 0px;
}
.h6__qzBu {
  margin: 6px 0px;
}
.h6__vsTzk {
  margin: 6px 0px;
}
.h6___9N {
  margin: 6px 0px;
}
.h5__qpNli {
  margin: 6px 0px;
}
.ul__bQVu {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h5__t0OEk {
  margin: 6px 0px;
}
.h5__t9S4K {
  margin: 6px 0px;
}
.h6__boUo1 {
  margin: 6px 0px;
}
.h6__lHtXf {
  margin: 6px 0px;
}
.h5__n5EdG {
  margin: 6px 0px;
}
.h5__v8TIc {
  margin: 6px 0px;
}
.h5__eIxoY {
  margin: 6px 0px;
}
.ul__gNjlh {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px 0px;
}
.h5__lvai7 {
  margin: 6px 0px;
}
.freeBox__nOz74 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  min-height: 350px;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__fFyqt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 970px;
  column-gap: 50px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox__lTzH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.img__mhPxq {
  object-fit: cover;
  max-width: 168px;
}
.img__mhPxq > picture > img {
  object-fit: cover;
}
.text__z4PNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
  line-height: 1.68;
  min-width: 0;
}
.footermenu:global(.__wab_instance) {
  position: relative;
}
.text__aBvKp {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 12px;
}
