.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 6px;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__h0Asb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
}
.freeBox__s2O69 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
}
.text__jTxyu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--token-Pxe4wDL2kJpb);
  min-width: 0;
}
.link__eShrH {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link__gebIj {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link__gQOoz {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link__tcAbm {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.freeBox__p7TFs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
}
.text__ui8E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--token-Pxe4wDL2kJpb);
  min-width: 0;
}
.link__nmbEe {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link___8C6Fe {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link__q4Xam {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.freeBox__gsitY {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
}
.text__lkP4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  color: var(--token-Pxe4wDL2kJpb);
  min-width: 0;
}
.link__r95Cv {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.link__miPvx {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
}
.freeBox___2HdDs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
  row-gap: 18px;
  min-width: 0;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 18px;
  min-width: 0;
}
.freeBox__dgKRy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
}
.link__lmWcT {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding: 0px;
}
.svg__ke7Ql {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
.link__dsNu9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding: 0px;
}
.svg__hSNzg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
.link__omxVi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding: 0px;
}
.svg__m2P3I {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
