.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  min-height: 350px;
  position: relative;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__xa6Mc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 970px;
  column-gap: 50px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox__m2Ow8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.img {
  object-fit: cover;
  max-width: 168px;
}
.img > picture > img {
  object-fit: cover;
}
.text___8QiQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
  line-height: 1.68;
  min-width: 0;
}
.footermenu:global(.__wab_instance) {
  max-width: 100%;
}
.text__luUx {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 12px;
}
