.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: auto;
  top: auto;
  z-index: 99;
  position: relative;
  column-gap: 28px;
  transform: none;
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img___86Th8 {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img___86Th8 > picture > img {
  object-fit: cover;
}
.freeBox__dnMzM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wBz3W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__vIj3O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__xL99N {
  cursor: pointer;
  color: #f15a24;
}
.text__tTf6F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__a0Jna {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__zl0Xt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button__xwzi6:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg___8I0Oo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hWjEh {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__rReMj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uQC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6IStn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wmXqN {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__yBpwG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__j5T5N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__m0ZZg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jvC2M {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__cxFsu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.scrollNav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: 0px;
  top: 0px;
  z-index: 99;
  position: fixed;
  column-gap: 28px;
  transform: none;
  background: #222222;
  min-width: 0;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img___4W2Oe {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img___4W2Oe > picture > img {
  object-fit: cover;
}
.freeBox___4DCob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y7OzN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text___02Ha {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
}
.link__fpyzy {
  cursor: pointer;
  color: #f15a24;
}
.text__lyQ4X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__feeh3 {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__obQrN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button___0Zhfb:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__j2WYj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cd7Pz {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__dFmnv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uubxy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cXpOz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__u1ZDn {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__dPAe4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aVkmy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5JI9O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__m4F84 {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__fjA2R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__w9TLw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__a068 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 38px;
  row-gap: 4px;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 36px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 0px;
  font-size: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 50px;
  }
}
.freeBox__uhZbz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 88px;
  background: #f15a24;
  min-width: 0;
  padding: 88px 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  max-width: 980px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 50px;
  }
}
.text___69Q6R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___69Q6R {
    font-size: 50px;
  }
}
.freeBox__jKg69 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  row-gap: 50px;
  min-width: 0;
  padding: 50px 0px;
}
.freeBox__arW3X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__z4Ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__eyup2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__zj2C6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox__ej7Os {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__xEemh {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #f15a24;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2___1TeGc {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__gfC4C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__hvNma {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #222222;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__f7Imu {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__rNul0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__epPxi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__ccs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #ffa107;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__kjLpA {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__bIxnH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  min-width: 0;
}
.freeBox__sa5PE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffffcc;
  position: relative;
  min-width: 0;
  padding: 168px 0px;
}
.freeBox__u3Agp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 68px;
  min-width: 0;
}
.freeBox__rx3RR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
}
.h2___7G0GX {
  width: auto;
  height: auto;
  text-align: left;
  color: #222222;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___7G0GX {
    font-size: 50px;
  }
}
.h2___6Rv6Q {
  width: auto;
  height: auto;
  max-width: 980px;
  text-align: center;
  color: #222222;
  font-weight: 600;
  font-size: 75px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___6Rv6Q {
    font-size: 50px;
  }
}
.text__xYtOp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  font-size: 36px;
  min-width: 0;
}
.freeBox__nOz74 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  min-height: 350px;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__fFyqt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 970px;
  column-gap: 50px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox__lTzH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.img__mhPxq {
  object-fit: cover;
  max-width: 168px;
}
.img__mhPxq > picture > img {
  object-fit: cover;
}
.text__z4PNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
  line-height: 1.68;
  min-width: 0;
}
.footermenu:global(.__wab_instance) {
  position: relative;
}
.text__aBvKp {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 12px;
}
