.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
}
.upperNav:global(.__wab_instance) {
  max-width: 100%;
}
.scrollNav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: 0px;
  top: 0px;
  z-index: 99;
  position: fixed;
  column-gap: 28px;
  transform: none;
  background: #222222;
  min-width: 0;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img__n8Px {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__n8Px > picture > img {
  object-fit: cover;
}
.freeBox__hTuRn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gjsSm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__owm0O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
}
.link__igRox {
  cursor: pointer;
  color: #f15a24;
}
.text__inwWi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__zaNaZ {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__sFjA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button___6Hr9B:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg___9KTCf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k7OpH {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__j3Mxx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ydLlp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zMHz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gBsf7 {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__kcXmc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___9XQ3Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dAflI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bu1LP {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__jizIs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oaXL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__o0Z61 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 38px;
  row-gap: 4px;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 36px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 0px;
  font-size: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 50px;
  }
}
.freeBox__loZyb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 88px;
  background: #f15a24;
  min-width: 0;
  padding: 88px 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  max-width: 980px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 50px;
  }
}
.text__z7TfH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z7TfH {
    font-size: 50px;
  }
}
.freeBox__fcA8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  row-gap: 50px;
  min-width: 0;
  padding: 50px 0px;
}
.freeBox__xnfup {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__mi3Tg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2___9T7RY {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__nXlvA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox__dVoNz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__h3Qab {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #f15a24;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__d4QRg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__wxcy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__lUbs4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #222222;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__r1A2Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__scheW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__jTwc2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__mE04T {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #ffa107;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2___9Yzbq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__cvwz6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  min-width: 0;
}
.freeBox__joEl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffffcc;
  position: relative;
  min-width: 0;
  padding: 168px 0px;
}
.freeBox__nGGee {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 68px;
  min-width: 0;
}
.freeBox__ruLdc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
}
.h2__oq2RL {
  width: auto;
  height: auto;
  text-align: left;
  color: #222222;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__oq2RL {
    font-size: 50px;
  }
}
.h2__ySulS {
  width: auto;
  height: auto;
  max-width: 980px;
  text-align: center;
  color: #222222;
  font-weight: 600;
  font-size: 75px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ySulS {
    font-size: 50px;
  }
}
.text___6Pxt2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  font-size: 36px;
  min-width: 0;
}
.freeBox__dEdpk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  min-height: 350px;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__thz51 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 970px;
  column-gap: 50px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox__puu52 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.img__z3Yyi {
  object-fit: cover;
  max-width: 168px;
}
.img__z3Yyi > picture > img {
  object-fit: cover;
}
.text__voigP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
  line-height: 1.68;
  min-width: 0;
}
.footermenu:global(.__wab_instance) {
  position: relative;
}
.text__lEZpJ {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 12px;
}
