.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: auto;
  top: auto;
  z-index: 99;
  position: relative;
  column-gap: 28px;
  transform: none;
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img__sXqdG {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__sXqdG > picture > img {
  object-fit: cover;
}
.freeBox__kqkR9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Y90K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__ykGzG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__yVUcP {
  cursor: pointer;
  color: #f15a24;
}
.text__kc6Jl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__xXcG1 {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__ecYg2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button__oQoic:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg___4I1Oc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Ayc {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg___5Smx1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xS8Ys:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xfwMe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__d7ZvX {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__adMyv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___34Dsg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ehYse {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7LavC {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__eNLpx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.scrollNav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: 0px;
  top: 0px;
  z-index: 99;
  position: fixed;
  column-gap: 28px;
  transform: none;
  background: #222222;
  min-width: 0;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img__rwkm {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img__rwkm > picture > img {
  object-fit: cover;
}
.freeBox__yf2Up {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vw57N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__w4ZuQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
}
.link__bnOvC {
  cursor: pointer;
  color: #f15a24;
}
.text__pvc7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link___8NYyP {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__aBEj4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button__gdHk:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg___1Eo1Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oFer {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__ynTx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__tfqH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gynrq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__afBJa {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__q1DzQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__q0FcS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4G1Ev {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ovCy {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg___7Tik8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__m3AiE {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__f0G4E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 38px;
  row-gap: 4px;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 36px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 0px;
  font-size: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 50px;
  }
}
.freeBox___1ZywP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 88px;
  background: #f15a24;
  min-width: 0;
  padding: 88px 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  max-width: 980px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 50px;
  }
}
.text__qgQa6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0px;
  color: #ffffff;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qgQa6 {
    font-size: 50px;
  }
}
.freeBox__mrgpL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  row-gap: 50px;
  min-width: 0;
  padding: 50px 0px;
}
.freeBox__pcaNw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox___9QXxj {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__fIpd {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__g0UYf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.freeBox___8Zspl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__rF4Ls {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #f15a24;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__sfh8T {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__sEgZq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__rN6E0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #222222;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__zUwm2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 50px;
  min-width: 0;
}
.text__rYzgF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox__cjCz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  column-gap: 50px;
  min-width: 0;
}
.freeBox__hb3Gn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 36px;
  background: #ffa107;
  box-shadow: 0px 3px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 68px 50px;
}
.h2__weqQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  font-size: 50px;
  min-width: 0;
}
.text__nf72 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  min-width: 0;
}
.freeBox__ppGZd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffffcc;
  position: relative;
  min-width: 0;
  padding: 168px 0px;
}
.freeBox__d0WG2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 68px;
  min-width: 0;
}
.freeBox__akgZ0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
}
.h2__wcdB9 {
  width: auto;
  height: auto;
  text-align: left;
  color: #222222;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__wcdB9 {
    font-size: 50px;
  }
}
.h2__uxxz9 {
  width: auto;
  height: auto;
  max-width: 980px;
  text-align: center;
  color: #222222;
  font-weight: 600;
  font-size: 75px;
  line-height: 1.2;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__uxxz9 {
    font-size: 50px;
  }
}
.text__o7Il9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  font-size: 36px;
  min-width: 0;
}
.freeBox__yv5ZN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  min-height: 350px;
  min-width: 0;
  padding: 50px 8px;
}
.freeBox__p2Cc2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 970px;
  column-gap: 50px;
  margin-bottom: 50px;
  min-width: 0;
}
.freeBox___8ND {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.img___49Kre {
  object-fit: cover;
  max-width: 168px;
}
.img___49Kre > picture > img {
  object-fit: cover;
}
.text__aXdme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 14px;
  line-height: 1.68;
  min-width: 0;
}
.footermenu:global(.__wab_instance) {
  position: relative;
}
.text___8OeZ {
  color: var(--token-DbGdjBpQ6R_X);
  font-size: 12px;
}
