.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  overflow: auto;
  row-gap: 0px;
  min-width: 0;
}
.upperNav:global(.__wab_instance) {
  max-width: 100%;
}
.scrollNav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(8px);
  left: 0px;
  top: 0px;
  z-index: 99;
  position: fixed;
  column-gap: 28px;
  transform: none;
  background: #222222;
  min-width: 0;
  display: none;
  -webkit-backdrop-filter: blur(8px);
  padding: 4px 36px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__foy0L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___32Qp8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.text__gm9Or {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-DbGdjBpQ6R_X);
}
.link__x4PVw {
  cursor: pointer;
  color: #f15a24;
}
.text__ue2OI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__piN2J {
  cursor: pointer;
  color: #f15a24;
}
.freeBox__vjg54 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  column-gap: 1px;
  border-radius: 24px;
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.button___6KzMt:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__rdjS9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3JLu9 {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__vL58T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__efJVb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__idi8O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vG8Fa {
  padding-bottom: 0px;
  color: var(--token-CtWQF2P39aLo);
}
.svg__qSkAu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uw74O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__x0Hm4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uma1E {
  padding-bottom: 0px;
  font-size: 12px;
}
.svg__myPbi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ng3Kp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  min-width: 0;
}
.freeBox__dx9Yu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 128px;
  row-gap: 4px;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 980px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 36px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 50px;
  }
}
.freeBox__gWhCy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 980px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__vrAX {
  width: 100%;
  height: auto;
  max-width: 680px;
  text-align: left;
  color: #000000;
  font-weight: 400;
  line-height: 1.68;
  padding-bottom: 0px;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vrAX {
    font-size: 50px;
  }
}
.h5___3RZqN {
  margin-bottom: 6px;
}
.h5__uvqSz {
  margin-bottom: 6px;
}
.h6___05Xmy {
  padding-top: 0px;
  margin-bottom: 6px;
}
.ul__eFv7T {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: 6px 0px;
}
.ul__sq5Hp {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  row-gap: 6px;
}
.h6__aWwJi {
  margin: 6px 0px;
}
.ul__zTRx {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 6px;
}
.h6__imEd4 {
  margin: 6px 0px;
}
.ul__vUaY {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 6px;
}
.h5__hzeJg {
  margin-bottom: 6px;
}
.ul__o2Ia {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 6px;
}
.h5__joI6 {
  margin-bottom: 6px;
}
.h6__p6TiO {
  margin: 6px 0px;
}
.h6__dqbPm {
  margin: 6px 0px;
}
.ul__px2Rj {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 6px;
}
.h6___3ECgM {
  margin: 6px 0px;
}
.ul__qbBxc {
  display: flex;
  flex-direction: column;
}
.h6__jE3 {
  margin: 6px 0px;
}
.h5__txBog {
  margin-bottom: 6px;
}
.ul__igho7 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 6px;
}
.h5__b7DRs {
  margin-bottom: 6px;
}
.h5__jWrJ {
  margin-bottom: 6px;
}
.h6__adv0V {
  margin: 6px 0px;
}
.ul__wHuHm {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6__xXipB {
  margin: 6px 0px;
}
.ul__k7Wex {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6__u48Yu {
  margin: 6px 0px;
}
.ul__gdfFm {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6__jYu8M {
  margin: 6px 0px;
}
.ul__drCh {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h6__aafZc {
  margin: 6px 0px;
}
.h5__hzzsP {
  margin-bottom: 6px;
}
.ul__smzw4 {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h5__fbqL {
  margin-bottom: 6px;
}
.h5__tPeGh {
  margin-bottom: 6px;
}
.h5__iYifb {
  margin-bottom: 6px;
}
.h5__lOpDk {
  margin-bottom: 6px;
}
.ul__ogYhR {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.h5__pHbTi {
  margin-bottom: 6px;
}
.h6__ts2Dv {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
