# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel5
# pages
/pages/about.tsx
/pages/terms.tsx
/pages/privacy.tsx
/pages/faq.tsx
/pages/notfound.tsx
/pages/5nN0wMAaSX6O3o5x/
/pages/5WqztA5PSPLqEsO02zhHwaXl7v5H/
/pages/MT3pje7t1Prbi5r4/
/pages/homepage.tsx
/pages/success.tsx
/pages/index.tsx
/pages/register.tsx
