.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
.rootsmall {
  padding: 0px;
}
.freeBox__nqdo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
}
.freeBoxsmall__nqdOecu0V {
  column-gap: 0px;
  row-gap: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var(--token-85NLt28mNxmq);
}
.img > picture > img {
  object-fit: cover;
}
.text__bhi95 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-85NLt28mNxmq);
  margin-right: 16px;
}
.freeBox__uoaXv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
}
.loginBtn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__nrgDs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-end;
  margin-top: 20px;
  min-width: 0;
}
.svg__mSxi5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b3YDj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
