.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__gvoaT {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 90vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___3JwVl {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-start;
  background: url("/plasmic/www_offtoglow_com/images/welcomebgJpg.jpg") top 50% left 50% / cover repeat;
  left: 0px;
  top: 0px;
  z-index: 1;
  grid-column-end: span 1;
  grid-column-start: 2;
  min-width: 0;
  padding: 8px;
}
.card:global(.__wab_instance) {
  max-width: 100%;
}
.text__lXxLx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  font-size: 12px;
  min-width: 0;
}
.freeBox__mImq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  min-width: 0;
  padding: 8px 20px;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.conditionGuard:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sagZa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
  padding: 8px;
}
.h2__un6N2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  text-align: center;
  min-width: 0;
}
.text__tYe4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: #222222;
  min-width: 0;
  padding: 36px 20px 28px;
}
.authFormFirst:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xWyiQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 150px;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.h2__ssJRz {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  text-align: center;
  margin-top: 50px;
  background: none;
  min-width: 0;
}
.text__fc8Ab {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 36px;
  padding-bottom: 28px;
  font-size: 20px;
  min-width: 0;
}
.freeBox__cbRAa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
}
.freeBox__lkvkk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.h5___8CPpp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 12px;
  min-width: 0;
}
.h6___4OkSz {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.inputEmail:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 16px;
  height: 50px;
  flex-shrink: 0;
}
.svg__xOaXr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wTcj6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h6__iAsC {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.inputFirstname:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 16px;
  height: 50px;
  flex-shrink: 0;
}
.svg__crawc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__p33Mr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h6__opHxk {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  min-width: 0;
}
.inputLastname:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 16px;
  height: 50px;
  flex-shrink: 0;
}
.svg__bN5O3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s0XRa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h6___9K2U {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  min-width: 0;
}
.inputCity:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 16px;
  height: 50px;
  flex-shrink: 0;
}
.svg__yih1S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hKlht {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h6__u5SN0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox___086D7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.selectCountry:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.selectCountry__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: #666666;
  outline: none;
}
.pcls_ACmfzL9fFHwD {
  color: #222222;
  outline: none;
}
.selectCountry :global(.ant-select-selector):global(.ant-select-selector) {
  color: #222222;
  outline: none;
}
.freeBox__f9YXp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__tl0Dd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 28px;
  min-width: 0;
}
.h5__dflo {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  margin-bottom: 12px;
  min-width: 0;
}
.text__ew3Vt {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;
  min-width: 0;
}
.freeBox___5MvOz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
}
.freeBox___5MvOz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___5MvOz > :global(.__wab_flex-container) > *,
.freeBox___5MvOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5MvOz > :global(.__wab_flex-container) > picture > img,
.freeBox___5MvOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  min-width: 0;
  min-height: 0;
}
.radio__fvU3G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__v0Iv4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__jLhHw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GEppKCdlxgWK);
  min-width: 0;
}
.text__v0G7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio___1D5I5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
}
.freeBox__xQh02 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__rtMv1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #22222280;
  min-width: 0;
}
.text__hHim8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #22222280;
  min-width: 0;
}
.radio__nzVta:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
}
.freeBox__b7W3Q {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6___8RY3Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  min-width: 0;
}
.text__z2TEh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  min-width: 0;
}
.radio__ujurD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
}
.freeBox__aJod9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__grX3G {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  min-width: 0;
}
.text__vUaMh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #222222;
  min-width: 0;
}
.radio__ewDy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__nvHei {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__po4Av {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GEppKCdlxgWK);
  min-width: 0;
}
.text__pn4Ge {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__n8Cpj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
}
.freeBox__lfcFb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h6__qwv5E {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #22222280;
  min-width: 0;
}
.text___3JeV {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #22222280;
  min-width: 0;
}
.button___7BYWk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 32px;
  align-self: flex-end;
  display: none;
  border-radius: 8px;
}
.text__wDae8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__sLeK:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  margin-top: 28px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__odu7C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ytapf {
  padding-right: 0px;
}
.svg__fsmFe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.authButton:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  margin-top: 36px;
  width: 100%;
  min-width: 0;
}
