.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  min-width: 0;
}
.freeBox__tIxYq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 0;
  padding: 8px;
}
.freeBoxmode_checkEmail__tIxYqDeUt0 {
  display: none;
}
.credentialsForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 500px;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.formField__e4PV:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.freeBox___7Jdgw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__huS9J:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.freeBox___1TQy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__xdqsu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.text__vNUsZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.forgotPasswordForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField___5Aswl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___9ZmZk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mtWzn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pc60D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pc60D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pc60D > :global(.__wab_flex-container) > *,
.freeBox__pc60D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pc60D > :global(.__wab_flex-container) > picture > img,
.freeBox__pc60D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__dKwms {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cAyD {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.textmode_checkEmail__cAyDDeUt0 {
  display: block;
}
