.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__mz0Ji {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxmode_checkEmail__mz0JiAsXrv {
  display: none;
}
.credentialsForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.formField__tMzki:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__stFnu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___6UAA:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___3J2Fb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9KjGa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.forgotPasswordForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__dspYs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___5OpRr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oVoDg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6Ry9W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.text__uSMqU {
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  color: var(--token-GEppKCdlxgWK);
}
.text__fy1J2 {
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  color: var(--token-GEppKCdlxgWK);
}
.freeBox__bKemL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__g86O {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.textmode_checkEmail__g86OAsXrv {
  display: block;
}
